USE [master]
GO
/****** 对象:  Database [Nurse]    脚本日期: 07/31/2014 22:19:08 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Nurse')
BEGIN
CREATE DATABASE [Nurse]
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Nurse', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nurse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Nurse] SET DB_CHAINING OFF 
USE [Nurse]
GO
/****** 对象:  Table [dbo].[HisInterface]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HisInterface]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HisInterface](
	[log_ID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[ID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Snumber] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[deptName] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Queue] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Times] [datetime] NOT NULL,
	[RefundMark] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[docName] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[nState] [bit] NOT NULL,
	[Done] [bit] NOT NULL
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[MedicalRecords]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MedicalRecords]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MedicalRecords](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[office_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[doctor_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[consult_id] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[evaluate] [int] NOT NULL,
 CONSTRAINT [PK_MedicalRecords] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[Nurse]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Nurse](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[nurse_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[nurse_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[password] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[power] [int] NOT NULL,
	[regtime] [datetime] NOT NULL,
	[stb_id] [int] NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_UserData] UNIQUE NONCLUSTERED 
(
	[nurse_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[Nurse_Office]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse_Office]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Nurse_Office](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[nurse_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[office_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
 CONSTRAINT [PK_Nurse_Office] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[Consult]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Consult]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Consult](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[consult_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[call_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[caller_id] [int] NULL,
	[wnd_screen_id] [int] NULL,
	[compreh_screen_id] [int] NULL,
	[evaluator_id] [int] NULL,
	[office_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[through_screen_id] [int] NULL,
	[through_screen_ip] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[stb_id] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[his_flag] [int] NULL CONSTRAINT [DF_Consult_his_flag]  DEFAULT ((0)),
	[position] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_Consult] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** 对象:  Index [IX_Consult]    脚本日期: 07/31/2014 22:19:10 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Consult]') AND name = N'IX_Consult')
CREATE UNIQUE NONCLUSTERED INDEX [IX_Consult] ON [dbo].[Consult] 
(
	[consult_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[WaitingRoom]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WaitingRoom]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WaitingRoom](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[stb_id] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[available] [int] NULL,
 CONSTRAINT [PK_WaitingRoom] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[QueueFeilds]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueueFeilds]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueueFeilds](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[feild_id] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[feild_name] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[QueueShowFeilds]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueueShowFeilds]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueueShowFeilds](
	[serial_id] [int] NOT NULL,
	[feild_id] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[feild_name] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[feild_name_show] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[SetTopBox]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetTopBox]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SetTopBox](
	[stb_id] [int] IDENTITY(1,1) NOT NULL,
	[stb_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[stb_ip] [nvarchar](32) COLLATE Chinese_PRC_CI_AS NULL,
	[stb_port] [int] NULL,
	[stb_init_text] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[stb_type] [int] NOT NULL CONSTRAINT [DF_SetTopBox_stb_type]  DEFAULT ((0)),
 CONSTRAINT [PK_SetTopBox_1] PRIMARY KEY CLUSTERED 
(
	[stb_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** 对象:  Index [IX_SetTopBox_StbId]    脚本日期: 07/31/2014 22:19:10 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SetTopBox]') AND name = N'IX_SetTopBox_StbId')
CREATE NONCLUSTERED INDEX [IX_SetTopBox_StbId] ON [dbo].[SetTopBox] 
(
	[stb_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[Caller]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Caller]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Caller](
	[caller_id] [int] NOT NULL,
	[consult_id] [int] NOT NULL,
	[table_id] [int] NULL
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[LoginInfo]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoginInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoginInfo](
	[UserName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[UserPassword] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[LoadTime] [datetime] NOT NULL,
	[UserPower] [int] NOT NULL,
	[UserIP] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[Doctor]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctor]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Doctor](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[gender] [int] NOT NULL,
	[expert_flag] [int] NULL,
	[title] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[password] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[photo] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[sound_call] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[sound_wait] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[display_call] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[display_wait] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[office_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[consult_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[table_num] [int] NULL,
	[caller_id] [int] NULL,
	[evaluator_id] [int] NULL,
	[working_flag] [int] NULL,
	[online_flag] [int] NULL,
	[max_recall_times] [int] NULL,
	[call_special_flag] [int] NULL,
	[his_flag] [int] NULL CONSTRAINT [DF_Doctor_his_flag]  DEFAULT ((0)),
 CONSTRAINT [PK_DoctorData] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** 对象:  Index [IX_DoctorData]    脚本日期: 07/31/2014 22:19:10 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Doctor]') AND name = N'IX_DoctorData')
CREATE UNIQUE NONCLUSTERED INDEX [IX_DoctorData] ON [dbo].[Doctor] 
(
	[doctor_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[Queue]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Queue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Queue](
	[log_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[queue_id] [int] NOT NULL,
	[queue_id_call] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[patient_name] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[patient_gender] [int] NULL,
	[patient_age] [int] NULL,
	[patient_month] [int] NULL,
	[office_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[doctor_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[regtime] [datetime] NOT NULL,
	[status] [int] NOT NULL CONSTRAINT [DF_Queue_status]  DEFAULT ((0)),
	[priority] [int] NOT NULL,
	[gender_flag] [int] NULL,
	[his_queue_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[room_id] [int] NULL,
	[id_pay] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[pay_desc] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[in_flag] [smallint] NULL,
 CONSTRAINT [PK_Queue] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[HisForBjlb_Patient]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HisForBjlb_Patient]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HisForBjlb_Patient](
	[serial_id] [varchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[id_card] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[queue_num] [varchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[patient_name] [varchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[patient_gender] [smallint] NOT NULL,
	[id_depart] [varchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[time] [datetime] NOT NULL,
	[id_doctor] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[id_pay] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[pay_flag] [smallint] NULL,
	[pay_desc] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[money] [money] NULL,
	[read_flag] [smallint] NULL,
	[in_flag] [smallint] NULL,
 CONSTRAINT [PK_HisForBjlb_Patient] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** 对象:  Table [dbo].[Office]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Office]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Office](
	[serial_id] [int] IDENTITY(1,1) NOT NULL,
	[office_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[call_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[call_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[NumStart] [int] NULL,
	[NumEnd] [int] NULL,
	[AmLimit] [int] NULL,
	[PmLimit] [int] NULL,
	[DayLimit] [int] NULL,
	[comp_screen_id] [int] NULL,
	[stb_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[his_flag] [int] NULL CONSTRAINT [DF_Office_his_flag]  DEFAULT ((0)),
	[parent_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_OfficeQue] PRIMARY KEY CLUSTERED 
(
	[serial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** 对象:  Index [IX_OfficeQue]    脚本日期: 07/31/2014 22:19:10 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Office]') AND name = N'IX_OfficeQue')
CREATE UNIQUE NONCLUSTERED INDEX [IX_OfficeQue] ON [dbo].[Office] 
(
	[office_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[Patient]    脚本日期: 07/31/2014 22:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Patient]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Patient](
	[patient_id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[gender] [nvarchar](6) COLLATE Chinese_PRC_CI_AS NULL,
	[id] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[phone] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[address] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[regtime] [datetime] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END

BEGIN
INSERT INTO [Nurse]([nurse_id],[nurse_name],[password],[power],[regtime]) VALUES('admin','超级管理员','123',0,getdate())
END
